<%- include("partials/header"); -%>
<h1><%=fullPagePost.btitle%></h1>
<p><%=fullPagePost.bbody%></p>
<form class="ff" action="/delete" method="post">
  <button type="submit" class="btn btn-danger" name="dpost" value="<%=fullPagePost._id%>">Delete</button>
</form>
 <form class="ff" action="/update" method="post">
 <button type="submit" class="btn btn-danger" name="updpost" value="<%=fullPagePost._id%>">Update</button>
</form>
<%- include("partials/footer"); -%>
